.head-container {
    background-color: aqua;
    border: solid 1px black;
}

h1 {
    color: blue;
    fill: coral;
}

#Margin {
    margin: auto;
}

#Panding {
    font-size: larger;
    margin-left: auto;
    /* margin-left: 30cm;
    padding-left: 0cm; */
    color: red;
}

hr {
    margin-top: 0%;
    border: solid;
    color: darkcyan;
}

#text-design {
    padding-top: 0%;
    margin-top: 0%;
    color: black;
    font-size: 1cm;
    background-color: darkgoldenrod;
    width: max-content;
    width: 80%;
}

.headings {
    color: blue;
    font-size: large;
}