/* h1 {
    color: blue;
    background-color: aqua;
    fill: coral;
}

#Margin {
    margin: auto;
}

#Panding {
    padding: auto;
}

hr {
    border: solid;
    color: darkcyan;
}

#text-design {
    color: blue;
    font-size: 100000px;
    font-size: large;
}
.headings {
    color: blue;
    font-size: large;
} */


/* 
#text-desihn {
    font-size: large;
    color: blue;
    background-color: darkgoldenrod;
} */


/* 
hr {
    border: solid;
} */


/* body {
    background-image: url(../Images/image2.jpg);
} */


/* These all tags and settings !important. this setting usage for; fit image in background ; */


/* #bg-image {
    object-fit: cover;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-div {
    position: absolute;
    top: 8px;
    left: 16px;
} */